.chat {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.chat_header{
  display: flex;
  align-items: center;
  padding: 12px;
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
}
.chat_headerInfo{
 flex: 1;
 padding-left: 20px;
 cursor: pointer;
}
.chat_headerInfo>h3{
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
 }
 .chat_headerInfo>p{
   color: gray;
   font-size: 14px;
 }
.chat_body{
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat_body::-webkit-scrollbar {
  display: none;
}

.chat_name{
  /* position: absolute; */
  margin-bottom: 3px;
  top: -15px;
  font-weight: 700;
  font-size: small;
}
.chat_message{
  position: relative;
  font-size: 13.5px;
  padding: 7px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
.chat_recieved{
  margin-left: auto;
  background-color: rgb(130, 189, 238);
}
.chat_timeStamp{
  margin-left: 10px;
  font-size: xx-small;
}
.chat_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid lightgray;
}
.chat_footer > form{
  display: flex;
  flex: 1;
  padding: 20px;
}

.chat_footer > form > input{
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline-width: 0;
}
.chat_footer > button{
  border: none;
  outline-width: 0;
}
.hidden{
  display: none;
}
